<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name="com.wooma.WoomaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name="com.wooma.activities.auth.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wooma.activities.auth.OTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.MeterListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.AddEditMeterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.DetectorListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.AddEditDetectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.CheckListListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.CheckListDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.AddEditKeysActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.otherItems.KeysListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.InventoryRoomItemsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.SelectRoomItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.SelectRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.InspectionRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.wooma.activities.auth.GetStartedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.auth.ActivateAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.ReportListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.EditRoomNamesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.complete.CompleteReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.complete.ExtendTimerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.EditTenantActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.inventorysettings.ChangeReportTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.inventorysettings.ChangeAssessorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.inventorysettings.ChangeReportDateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.AddRoomsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.InventoryRoomItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.inventorysettings.InventoryReportSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.inventorysettings.DuplicateReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.InventoryListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.PdfDownloadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.FullscreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="com.wooma.activities.property.EditPropertyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.property.ArchivePropertiesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.property.AddPropertyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.property.AddPropertyByPostalCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.SelectPropertyForReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wooma.activities.report.SelectReportTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.CheckoutCopyOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.CheckoutSelectReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wooma.activities.report.ConfigureReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>